# Bilder des Datnesets
/LSB/data 
stegano_cnn.pth
/createLSB/data
/createLSB/mnist_images
/createLSB/data
/createLSB/data_old
/createLSB/datalol


# Betriebssystem-spezifische Dateien
.DS_Store

#pip Sachen nicht pushen
/venv